h1{
    border:2px solid red;
}
#para2{
    background-color: blueviolet;
    border:2px solid green;
    color: white;
    padding: 10px;
    border-radius: 2px;

}
*{
    margin: 0px;
    padding:0px;
}